{% load static %}

<div id="header">
    <div class="bonnet">
        <div class="inner clearfix">
            <div class="left">
                <div class="vertical-element" style="margin-top: -8%; position: inherit;">
                    <a href="{% url 'store:store' %}"><img style="background: currentColor;" src="{% static 'include/logo.png' %}" width="500" height="200"></a>
                </div>
                <div class="vertical-helper"></div>
            </div>
            <div class="right">
                <div class="vertical-element">
                    <p style="text-align: right;"> <span style="font-size: 16pt;">(8452) 40-01-51 <br>8-903-384-49-84</span>
                </div>
                <div class="vertical-helper"></div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <div class="inner clearfix">
            <input id="menu-state" type="checkbox" />
            <label class="menu-btn" for="menu-state"> <span class="menu-btn-icon"></span> </label>
            <ul id="menu" class="top sm sm-theme sm-flex" style="visibility: hidden;">
                <li> <a href="{% url 'store:products' %}">Каталог</a></li>
                <li> <a href="{% url 'store:price' %}">Прайс-лист</a> </li>
                <li> <a href="{% url 'store:gallery' %}">Галерея</a></li>
                <li> <a href="{% url 'store:services' %}">Услуги</a></li>
                <li> <a href="{% url 'store:contacts' %}">Контакты</a> </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>